
<div class="page-content">
    <div class="container">
        <h3 class="text-heading font-lighter page-title">
            Good job!
            <br>
            <div class="max-600">Shortly, you will be informed with the result!</div>
        </h3>
        <div class="registration-form max-800 max-center mt-5 claim-form">
            <div class="row request-code-target go-back-container  max-center max-600">
                
                <%= link_to 'Go back', root_url, class: 'btn btn-main btn-rounded min-250 mobile-100' %>
            </div>
        </div>
    </div>
</div>
